<% @page_title = 'Bancadas Parlamentares' %>

<div class="hero-unit">
  <h3>Bancadas Parlamentares</h3>
</div>

<div class="container">
  <%= data_table(:data => @bancadas, :total => @total, :seed => 'bancada',
      :fields => [{:title => 'Sigla', :name => 'sigla'}, {:title => 'Nome', :name => 'nome'}],
      :detail_path => '/organizacional/bancada/', :field_id => 'id').html_safe %>
</div>
