<% @page_title = 'Deputados do Partido' %>

<div class="hero-unit">
  <h3>Deputados do <%= params[:partido] %></h3>
</div>

<div class="container">
  <%= deputados_data_table(:data => @deputados, :total => @total).html_safe %>
</div>
