<% @page_title = 'Deputados Federais' %>

<div class="hero-unit">
  <h3>Deputados Federais</h3>
</div>

<div class="container">
  <%= data_table(:data => @deputados, :total => @total, :seed => 'deputado',
      :fields => [{:title => 'Nome', :name => 'nome_parlamentar'}, {:title => 'Condição', :name => 'condicao'}],
      :detail_path => '/organizacional/deputado/', :field_id => 'id').html_safe %>
</div>
