<% @page_title = 'Deputados do Partido' %>

<div class="hero-unit">
  <h3>Deputados do Partido <%= params[:partido] %></h3>
</div>

<div class="container">
  <% form_tag '', :method => 'get', :id => 'form_consulta' do %>
    <div>
        <label for="tags" class="short-label">Comissão: </label>
        <input type="text" id="tags" name="tags" value="<%= params[:tags] %>" class="filter-component" style="height: 28px;"/>
    </div>
    <div align="right" style="width: 500px">
        <button type="submit" class="btn">Consultar</button>
    </div>
  <% end %>
  
  <%= data_table(:data => @deputados, :total => @total, :seed => 'deputado',
      :fields => [{:title => 'Nome', :name => 'nome_parlamentar'}, {:title => 'Condição', :name => 'condicao'}],
      :detail_path => '/organizacional/deputado/', :field_id => 'id').html_safe %>
</div>
