<% @page_title = 'Organizacional'
   @organizacional_ativa = true %>
   
<br/><br/><br/>

<div class="pagination-centered">
  <h2>Res Publica</h2>
  <h3>Dados organizacionais</h3>
  <p class="lead">
    Conheça a estrutura organizacional da Câmara e seus agentes.
  </p>
  -----
  <p style="color: red;">
    Atenção! As informações disponibilizadas pela Câmara dos Deputados - no que diz respeito aos dados dos deputados - compreendem apenas as duas últimas legislaturas (53 e 54).
    Destarte as informações relacionadas a período de exercício do deputado e histórico de filiação partidária refletirão apenas as duas últimas legislaturas.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <a href="<%= url :organizacional, :partidos %>" class="btn subject-block">
        <h4>Partidos Políticos</h4>
        <p align="justify">Organização formada por pessoas com interesse ou ideologia comuns, que se associam com o fim de assumir o poder para implantar um programa de governo. </p>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :organizacional, :bancadas %>" class="btn subject-block">
        <h4>Bancadas</h4>
        <p align="justify">Agrupamento organizado dos parlamentares de uma mesma representação partidária.</p>
        <br/><br/><br/>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
    
    <div class="span3">
      <a href="<%= url :organizacional, :comissoes %>" class="btn subject-block">
        <h4>Comissões</h4>
        <p align="justify">Órgão integrado por parlamentares, tendo composição partidária proporcional à da Casa Legislativa, tanto quanto possível, e pode ter caráter permanente ou temporário. </p>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>

    <div class="span3">
      <a href="<%= url :organizacional, :deputados %>" class="btn subject-block">
        <h4>Deputados</h4>
        <p align="justify">Membro da Câmara dos Deputados, representante do povo no Poder Legislativo Federal, eleito pelo sistema proporcional em cada Território para mandato de quatro anos.</p>
        <p align="right"><b>>> Ver mais</b></p>
      </a>
    </div>
  </div>
</div>
