<% @page_title = 'Partidos Políticos' %>

<% @organizacional_ativa = true %>

<div class="hero-unit">
  <h3>Partidos Políticos</h3>
  <p>Relação dos Partidos políticos ativos e desativados.</p>
</div>

<div class="container">

</div>
