<% @page_title = 'Estatísticas' %>

<% @head_code = draw_chart(:width => 600, :height => 450, :data => @chart_data, :chart_class => 'PieChart').html_safe %>

<div class="hero-unit">
  <h3>Deputados/Sexo</h3>
  <p>Deputados Federais por sexo.</p>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Gráfico [+/-]
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="chart_div">
          Não foi possível carregar o gráfico :(
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Dados agregados [+/-]
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <h4>Dados agregados</h4>
          <div style="width: 400px;">
          <table class="table table-striped">
          <thead>
            <tr>
              <% @chart_data[0].each do |col| %>
              <th><%= col %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          <% @chart_data.drop(1).each do |row| %>
            <tr>
              <% row.each do |col| %>
              <td><%= col %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
</div>
