<% @page_title = 'Estatísticas' %>

<% @head_code = draw_chart(:data => @chart_data, :chart_class => 'GeoChart', :displayMode => 'markers', :resolution => 'provinces', :height => 700, :width => 900).html_safe %>

<div class="hero-unit">
  <h3>Proposições/Projeção</h3>
  <p>Projeção das proposições por ano.</p>
</div>

<div class="container">
  <% form_tag '', :method => 'get', :id => 'form_consulta' do %>
    <div>
      <label for="tipo_proposicao" class="medium-label">Tipo de Proposição: </label>
      <select id="tipo_proposicao" name="tipo_proposicao" class="filter-component">
      <option value="">Selecione...</option>
      <% APP[:tipos_proposicoes].each do |k, v| %>
      <option value="<%= k %>"<%= ' selected' if params[:tipo_proposicao] == k %>><%= "#{k}-#{v}" %></option>
      <% end %>
      </select>
    </div>
    <div align="right" style="width: 600px">
        <button type="submit" class="btn">Consultar</button>
    </div>
  <% end %>
</div>
