<html>
<head>
  <title>Página não encontrada</title>
<head>
<body>
  <img src="images/chuck-norris.jpg" alt="Chuck Norris"/>
  <p/>
  <b>Chuck Norris disse que a página que você procura não existe. E se ele disse é melhor você acreditar!</b>
  <br/><br/>
  <a href="/">Ir para página inicial</a>
</body>
</html>
