<% @page_title = 'Log de versão' %>

<% @changelog_ativa = true %>

<div class="hero-unit">
  <h3>Log de versão</h3>
  <p>Acompanhe aqui as alterações realizadas no sítio.</p>
</div>

<a href="https://github.com/aureliano/res-publica/releases/tag/0.2.0">Versão 0.2.0</a>
<ul>
  <li>Extrai da API de dados abertos da Câmara dos Deputados dados de detalhamento dos deputados federais.</li>
  <li>Exibe período de exercício na página de detalhamento do deputado federal.</li>
  <li>Exibe histórico de filiação partidária na página de detalhamento do deputado federal.</li>
  <li>Extrai da API de dados abertos da Câmara dos Deputados dados de proposições.</li>
  <li>Acrescenta na página inicial o número da Legislatura atual e o seu período.</li>
  <li>Acrescenta nas páginas inicial e organizacional advertência sobre a assincronia entre os dados disponibilizados via API e os dados apresentados no portal da Câmara.</li>
  <li>Cria página de consulta de proposições dos tipos MPV, PEC, PL e PLP que foram criadas entre os anos 2000 e 2013.</li>
  <li>Cria página de detalhamento de proposição.</li>
  <li>Ignora caracteres especiais (maçã = maca) no filtro de consulta de partidos, comissões e deputados.</li>
  <li>Reconfigura publicação de notícias do sistema.</li>
</ul>
<% if @show_full_log %>
<hr/>
<a href="https://github.com/aureliano/res-publica/releases/tag/0.1.0">Versão 0.1.0</a>
<ul>
  <li>Extrai da API de dados abertos da Câmara dos Deputados dados de bancadas, comissões, deputados, e partidos.</li>
  <li>Carrega dados pertinentes à API na base de dados do projeto.</li>
  <li>Exibe tela com informações do projeto.</li>
  <li>Exibe data da última extração de dados no rodapé de cada página.</li>
  <li>Cria tarefa para auxílio no versionamento do projeto.</li>
  <li>Cria página com informações do projeto (Sobre).</li>
  <li>Cria página com dados organizacionais da Câmara dos Deputados.</li>
  <li>Cria página de partidos.</li>
  <li>Cria página de deputados.</li>
  <li>Cria página de comissões.</li>
  <li>Cria página de bancadas.</li>
  <li>Cria página com dados estatísticos da Câmara dos Deputados.</li>
  <li>Cria página de deputados por UF.</li>
  <li>Cria página de deputados por sexo.</li>
  <li>Cria página de deputados por UF e sexo.</li>
  <li>Cria página de deputados por partido e UF.</li>
  <li>Cria página de log de versão.</li>
  <li>Cria página com mapa do sítio.</li>
  <li>Adiciona suporte a monitoração do servidor web com New Relic.</li>
  <li>Adiciona processo de integração contínua.</li>
  <li>Cria funcionalidade para publicação de notícias via Feed e Twitter.</li>
</ul><% else %>
<%= link_to 'Ver log completo...', url(:changelog, :version => 'todas') %>
<% end %>