<% @page_title = 'Início' %>

<br/><br/><br/>

<div class="pagination-centered">
  <h2>Res Publica</h2>
  <h3>Portal para livre consulta de dados da Câmara dos Deputados.</h3>
  <p class="lead">
    Conheça os nossos Partidos políticos. Descubra as Comissões e quais deputados fazem parte delas. Saiba como contatar um deputado.
  </p>
  <p class="lead">
    Legislatura nº <%= APP[:numero_legislatura] %>, período <%= APP[:periodo_legislatura] %>.
  </p>
  -----
  <p style="color: red;">
    Atenção! As informações disponibilizadas pela Câmara dos Deputados - no que diz respeito aos dados dos deputados - compreendem apenas as duas últimas legislaturas (53 e 54).
  </p>
</div>
