<% @page_title = 'Sobre o sítio' %>

<% @sobre_ativa = true %>

<div class="hero-unit">
  <h3>Sobre</h3>
  <p>Conheça o projeto e saiba como ajudar.</p>
</div>

<h4>Missão</h4>
<p align="justify">
Este sítio tem por objetivo viabilizar a consulta dos dados da Câmara dos Deputados. Oferecer uma interface de consulta
que possibilite encontrar informações sobre as Partidos, Comissões Parlamentares e Deputados Federais. Os dados apresentados
aqui foram retirados do <a href="http://www2.camara.leg.br/">Sítio da Câmara dos Deputados</a>. Toda informação contida na Câmara é de caráter público e por isso pode e deve ser analisada pelos
cidadãos.
<p/>

<h4>A Câmara</h4>
<p align="justify">
O Poder Legislativo cumpre papel imprescindível perante a sociedade do País, visto que desempenha três funções primordiais para a consolidação da democracia: representar o povo brasileiro, legislar sobre os assuntos de interesse nacional e fiscalizar a aplicação dos recursos públicos.
<br/><br/>
Nesse contexto, a Câmara dos Deputados, autêntica representante do povo brasileiro, exerce atividades que viabilizam a realização dos anseios da população, mediante discussão e aprovação de propostas referentes às áreas econômicas e sociais, como educação, saúde, transporte, habitação, entre outras, sem descuidar do correto emprego, pelos Poderes da União, dos recursos arrecadados da população com o pagamento de tributos.
<br/><br/>
Assim, a Câmara dos Deputados compõe-se de representantes de todos os Estados e do Distrito Federal, o que resulta em um Parlamento com diversidade de idéias, revelando-se uma Casa legislativa plural, a serviço da sociedade brasileira.
</p>

<h4>Colaboração</h4>
O sítio Res Publica é um projeto de software livre sob a licença AGPL. Assim, qualquer pessoa pode
baixar o código-fonte do projeto e realizar alterações (Para maiores detalhes veja a seção <a href="#licenca">Licença</a>).
O código-fonte do projeto está hospedado em <a href="https://github.com/aureliano/cd-organizacional">https://github.com/aureliano/cd-organizacional</a>.
Caso deseje reportar algum bug ou solicitar a implementação de alguma funcionalidade no sítio abra um chamamento em
<a href="https://github.com/aureliano/cd-organizacional/issues">https://github.com/aureliano/cd-organizacional/issues</a>
ou entre em contato através das redes sociais: <a href="http://www.facebook.com/opendata.convenios">Facebook</a>,
<a href="https://twitter.com/opendataconv">Twitter</a>.

<section id="licenca">
<h4>Licença</h4>
<p align="justify">
  Este sítio é regido por políticas de software livre: você pode redistribui-lo e/ou modificálo
  sob os termos da GNU Affero General Public Licence como publicado pela Free Software Foundation,
  bem como na versão 3 da licença ou qualquer outra versão posterior.
</p>
<p align="justify">
  O código fonte deste sítio é distribuído na esperança de que seja útil, mas SEM QUALQUER GARANTIA;
  mesmo sem a garantia implícita de COMERCIALIZAÇÃO ou ADEQUAÇÃO PARA UM DETERMINADO FIM. Veja
  a GNU Affero General Public Licence pra mais detalhes.
</p>
<p align="justify">
  Você já deve ter recebido uma cópia da GNU Affero General Public Licence ao longo deste sítio.
  Caso não, veja em <a href="http://www.gnu.org/licenses/agpl.html">http://www.gnu.org/licenses/agpl.html</a>
<p/>
</section>
